In [7]:
## pow

x1 = pow(2,2)
x2 = pow(3,4)
print(x1)
print(x2)

4
81

In [8]:
y1 = pow(2,3)
y2 = pow(3,1)
print(y1)
print(y2)

8
3

In [9]:
X3 = pow(4,5)
X2 = pow(2,3)
print(X3)
print(X2)

1024
8

In [1]:
pi = 3.14
def  circleArea(radius):
    return pi*radius*radius

def sphereArea(radius):
    return 4*pi*radius*radius
def main():
    print('cricle area radius 15:',circleArea(15))
    print('spherical area with radius 10:',sphereArea(10))
    
    main()

In [ ]:
main()

In [1]:
def welcome(*name):
    print('hello',name[0],',',name[1],',',name[2],',',name[3],',',name[4])

In [2]:
welcome('steve','james','perry','john','anderson')

hello steve , james , perry , john , anderson

In [3]:
def welcome(*name):
    print('Good morning',name[0],',',name[1],',',name[2],',',name[3],',',name[4])

In [4]:
welcome('steve','marxon','tond','banry','james','jenrry')

Good morning steve , marxon , tond , banry , james

In [5]:
def message(name1,name2,name3):

    print('hello',name1,'please tell',name2,'that',name3,'is waiting')

In [7]:
message('harry','tom','jerry')

hello harry please tell tom that jerry is waiting

In [9]:
x1 = pow(2,3)
x2 = pow(1,3)
print(x1)
print(x2)

8
1

In [15]:
def welcome(*name):
    print('hello',name[0],',',name[1],',',name[2],',',name[3])

In [16]:
welcome('harry','tom','jerry','richie')

hello harry , tom , jerry , richie

In [10]:
## Area of circle and sphere
pi = 3.14

def CircleArea(radius):
    return pi*radius*radius

In [18]:
CircleArea(15)

706.5

In [21]:
def Square(L):
    return L*L

In [22]:
Square(20)

400

In [25]:
def add(x,y):
    sum = x+y
    print(sum)

In [26]:
add(40,50)

90

In [30]:
def add(x,y):
     sum = x+y
     print(sum)

In [31]:
add(20,40)

60

In [32]:
def add(x,y):
    sum = x+y
    print(sum)

In [33]:
add(572,7812)

8384

In [34]:
def multiply(x,y):
    product = x*y
    print(product)

In [35]:
multiply(56,98)

5488

In [36]:
def sqrt(x):
    square_root = sqrt(x)
    print(square_root)

In [ ]:
sqrt(100)

In [1]:
pi = 3.14

def spherearea(radius):
    return 4*pi*radius*radius

In [2]:
spherearea(4)

200.96

In [5]:
print( 'area of sphere(15):', spherearea(5))

area of sphere(15): 314.0

In [11]:
CircleArea(10)

314.0

In [12]:
## Default arg

def welcome(name = 'paul'):
    print('Hello',name)

In [13]:
welcome()

Hello paul

In [14]:
def welcome(name= 'harry'):
    print('hello',name)

In [15]:
welcome()

hello harry

In [16]:
def welcome(name = 'rajan'):
    print('hello',name)

In [17]:
welcome()

hello rajan

In [18]:
welcome()

hello rajan

In [21]:
def welcome(name='barkey'):
     print('hello',name)

In [22]:
welcome()

hello barkey

In [28]:
def factorial(x):
    if x == 0:
        return 1
    else:
        return x*factorial(x-1)

In [30]:
factorial(5)

120

In [31]:
def factorial(x):
    if x == 0:
        return 1
    else:
        return x*factorial(x-1)

In [32]:
factorial(7)

5040

In [33]:
def absolute(x):
    if x>=0:
        return x
    else:
        return -(-x)

In [34]:
print(absolute(56))

56

In [35]:
print(absolute(-56))

-56

In [36]:
def absolute(x):
    if x>=0:
        return x
    else:
        return -(-x)

In [37]:
absolute(54)

54

In [38]:
def ft_to_cm(ft):
    centimeter = ft*30.48
    return centimeter

In [40]:
ft_to_cm(12)

365.76

In [41]:
def m_to_cm(m):
    centimeter = m*100
    return centimeter

In [42]:
m_to_cm(20)

2000

In [45]:
def hello():
    name = str(input("Enter you country name:"))
    print("hello"+ str(name))

In [46]:
hello()

Enter you country name:india
helloindia

In [51]:
def hello():
    name = str(input('Enter name of country:'))
    print('hello'+str(name))

In [52]:
hello()

Enter name of country:india
helloindia

In [53]:
def Good_morning():
    name = str(input("Enter name of Country"))
    print('Good_morning',name)

In [55]:
Good_morning()

Enter name of CountryIndia
Good_morning India

In [61]:
def my_country():
    name = str(input("where is my country"))
    print('my_country',name)

In [62]:
my_country()

where is my countryIndia
my_country India

In [63]:
def hello(*name):
    print('hello',name[0],',',name[1],',',name[2],',',name[3],',',name[4])

In [64]:
hello('harry','madii','james','tonny','rajan')

hello harry , madii , james , tonny , rajan

In [68]:
def message(name):
    print("how are you",name)

In [70]:
message('rajan')

how are you rajan

In [82]:
## Conversion of units

def kg_to_lb(lb):
    kg = lb*2.20
    lb = kg/2.20
    return lb,kg

In [83]:
kg_to_lb(20)

(20.0, 44.0)

In [84]:
kg_to_lb(40)

(40.0, 88.0)

In [87]:
def hello(name='paul'):
    print('hello:',name)

In [88]:
hello()

hello: paul

In [97]:
def factorial(x):
    if x==0:
        return 1
    else:
        return x*factorial(x-1)

In [100]:
factorial(8)

40320

In [101]:
def factorial(x):
    if x==0:
        return 1
    else:
        return x*factorial(x-1)

In [103]:
factorial(6)

720

In [106]:
def absolute(x):
    if x>=0:
        return x
    else:
        return -(-x)

In [107]:
absolute(2)

2

In [108]:
absolute(-46)

-46

In [109]:
## slice()

## Slice function is used to display a data elements upto specify number
a = ('s','a','b','c','d','g','k','r','p')
x = slice(5)
print(a[x])

('s', 'a', 'b', 'c', 'd')

In [111]:
q = ('b','d','t','r','l','p','h','f')
x = slice(-6)
print(q[x])

('b', 'd')

In [112]:
my_list = [2,3,4,6,7,8,10,16,19,23]
x = sorted(my_list)
print(x)

[2, 3, 4, 6, 7, 8, 10, 16, 19, 23]

In [113]:
my_list1 = [3,4,1,6,2,29,12,46,23,19]
x1 = sorted(my_list1)
print(x1)

[1, 2, 3, 4, 6, 12, 19, 23, 29, 46]

In [114]:
y = ['I','N','D','I','A']

x = sorted(y,reverse = True)

print(x)

['N', 'I', 'I', 'D', 'A']

In [115]:
x = ['A','M','E','R','I','C','A']
y = sorted(x)
print(y)

['A', 'A', 'C', 'E', 'I', 'M', 'R']

In [116]:
x = ['I','N','D','I','A']
y = sorted(x)
print(y)

['A', 'D', 'I', 'I', 'N']

In [119]:
## round()
## Round is the function used to display the number upto to given decimal points

x = round(5.46578,3)

In [118]:
print(x)

5.466